In [1]:
import pandas as pd
import numpy as np

In [5]:
Composite_bond_index = {
    '1month' : -0.01,
    '3month' : 2.42,
    '12month' : 8.46,
    '3year' : 4.75,
    '5year' : 7.73
}

In [6]:
Hybrid_35_65 = {
    '1month' : 2.61,
    '3month' : 8.96,
    '12month' : 18.06,
    '3year' : 18.13,
    '5year' : 12.29
}

In [7]:
Nifty = {
    '1month' : -1.06,
    '3month' : 7.24,
    '12month' : 9.75,
    '3year' : 48.21,
    '5year' : 119.82
}

In [8]:
Gold_ETF = {
    '1month' : -4.26,
    '3month' : -2.50,
    '12month' : 15.76,
    '3year' : 12.08,
    '5year' : 12.47
}

In [13]:
composite_bond_df = pd.DataFrame(Composite_bond_index,index=[0])

   1month  3month  12month  3year  5year
0   -0.01    2.42     8.46   4.75   7.73

In [54]:
hybrid_35_fund  = pd.DataFrame(Hybrid_35_65,index=[0])
hybrid_35_fund

   1month  3month  12month  3year  5year
0    2.61    8.96    18.06  18.13  12.29

In [55]:
Nifty_fund = pd.DataFrame(Nifty,index=[0])
Nifty_fund

   1month  3month  12month  3year   5year
0   -1.06    7.24     9.75  48.21  119.82

In [56]:
Gold_ETF_fund = pd.DataFrame(Gold_ETF,index = [0])
Gold_ETF_fund

   1month  3month  12month  3year  5year
0   -4.26    -2.5    15.76  12.08  12.47

## For 1 month

In [ ]:
no_of_months = 3
no_of_year = 0

In [60]:
def create_data_frame(no_of_months,no_of_year):
    if(no_of_months!=0):
        data = {
            'fund1': composite_bond_df['{}'.format(no_of_months)+'month'],
            'fund2': hybrid_35_fund['{}'.format(no_of_months)+'month'],
            'fund3': Nifty_fund['{}'.format(no_of_months)+'month'],
            'fund4': Gold_ETF_fund['{}'.format(no_of_months)+'month']
        }
    elif(no_of_year!=0):
        data = {
            'fund1': composite_bond_df['{}'.format(no_of_year)+'year'],
            'fund2': hybrid_35_fund['{}'.format(no_of_year)+'year'],
            'fund3': Nifty_fund['{}'.format(no_of_year)+'year'],
            'fund4': Gold_ETF_fund['{}'.format(no_of_year)+'year']
        }
    dataFrame = pd.DataFrame(data)
    return dataFrame

In [62]:
data = create_data_frame(3,0)
data

   fund1  fund2  fund3  fund4
0   2.42   8.96   7.24   -2.5

In [22]:
data = {
    
    'fund1' : composite_bond_df['1month'],
    'fund2' : hybrid_35_fund['1month'],
    'fund3': Nifty_fund['1month'],
    'fund4' : Gold_ETF_fund['1month']
}

In [23]:
data_1_month  = pd.DataFrame(data)

In [24]:
random_weights = np.array(np.random.random(4))
display(random_weights)

array([0.68045207, 0.67233593, 0.64788832, 0.9474658 ])

In [41]:
rebalance_weights = random_weights/(np.sum(random_weights))
rebalance_weights

array([0.23080708, 0.22805411, 0.21976156, 0.32137725])

In [27]:
data_1_month

   fund1  fund2  fund3  fund4
0  -0.01   2.61  -1.06  -4.26

In [43]:
exp_return = np.sum(( data_1_month* rebalance_weights).values)
exp_return

-1.009101178896012

In [44]:
exp_volatility = np.sqrt(np.dot(rebalance_weights.T, np.dot(np.cov(data_1_month,ddof = 0),rebalance_weights)))
exp_volatility

1.2474645491792618

In [45]:
sharpe_ratio = (exp_return - .07)/exp_volatility
sharpe_ratio

-0.8650355471872767

In [46]:
weights_df = pd.DataFrame(data ={'random_weights' : random_weights, 'rebalance_weights' :rebalance_weights})
print("")
print("-"*80)
print("PORTFOLIO WEIGHTS : ")
print("-" * 80)
print(weights_df)
print("-"*80)


metrics_df = pd.DataFrame(data = {'Expected Returns': exp_return, 'Expected Portfolio Volatility' : exp_volatility, 'Sharpe Ratio' : sharpe_ratio},index=[0])
print("")
print("-"*80)
print("PORTFOLIO METRICS : ")
print("-" * 80)
print(metrics_df)
print("-"*80)

--------------------------------------------------------------------------------
PORTFOLIO WEIGHTS :
--------------------------------------------------------------------------------
   random_weights  rebalance_weights
0        0.680452           0.230807
1        0.672336           0.228054
2        0.647888           0.219762
3        0.947466           0.321377
--------------------------------------------------------------------------------

--------------------------------------------------------------------------------
PORTFOLIO METRICS :
--------------------------------------------------------------------------------
   Expected Returns  Expected Portfolio Volatility  Sharpe Ratio
0         -1.009101                       1.247465     -0.865036
--------------------------------------------------------------------------------

## Monte Carlo Optimisation

In [47]:
number_of_symbols = 4

In [53]:
num_of_portfolio = 5000

all_weights = np.zeros((num_of_portfolio, number_of_symbols))
ret_arr = np.zeros(num_of_portfolio)
vol_arr = np.zeros(num_of_portfolio)
sharpe_arr = np.zeros(num_of_portfolio)

#Start the simulation

for ind in range(num_of_portfolio):
    weights = np.array(np.random.random(number_of_symbols))
    weights = weights/np.sum(weights)
    all_weights[ind,:] = weights
    ret_arr[ind] = np.sum((data_1_month * weights).values)
    vol_arr[ind] = np.sqrt(
        np.dot(weights.T, np.dot(np.cov(data_1_month,ddof=0), weights))
    )
    sharpe_arr[ind] = (ret_arr[ind]-0.07)/vol_arr[ind]

simulations_data = [ret_arr,vol_arr, sharpe_arr, all_weights]
simulation_df = pd.DataFrame(data = simulations_data).T

# Add the column names
simulation_df.columns = [
    'Returns',
    'Volatility',
    'Sharpe Ratio',
    'Portfolio Weights'
]

# Make sure the data types are correct, we don't want our floats to be strings.
simulation_df = simulation_df.infer_objects()

# Print out the results.
# print('')
# print('='*80)
# print('SIMULATIONS RESULT:')
# print('-'*80)
# print(simulation_df.head())
# print('-'*80)
max_return = simulation_df['Returns'].max()
max_return_index = simulation_df['Returns'].idxmax()
max_return_row = simulation_df.loc[max_return_index]
print(max_return_row)

Returns                                                       2.163596
Volatility                                                     2.13428
Sharpe Ratio                                                  0.980938
Portfolio Weights    [0.07759211232098878, 0.8619154906928947, 0.05...
Name: 2500, dtype: object